/* Start Global Rules */
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --header-color: hsl(234, 12%, 34%);
    --text-color: hsl(229, 6%, 66%);
    --background-color: hsl(0, 0%, 98%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
/* End Global Rules */
/* Start Landing Page  */
.landing-page {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: var(--background-color); 
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.landing-page h2:first-child {
    color: var(--text-color);
    font-weight: 200;
    margin-top: 20px;
}
.landing-page h2:nth-child(2) {
    color: var(--header-color);
    font-weight: 600;
}
.landing-page .intro-text {
    color: var(--text-color);
    display: inline-block;
    font-weight: 300;
    margin-top: 15px;
    max-width: 500px;
}
/* End Landing Page  */
/* Start Main Cards */
.main-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50% 50%;
    margin: 50px;
    width: 80%;
    gap: 20px 20px;
}
.main-cards .card:first-child {
    grid-row: 1 / 3;
    align-self: center;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--cyan);
    box-shadow: 0 0 15px var(--cyan);
}
.main-cards .card:nth-child(2) {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--red);
    box-shadow: 0 0 15px var(--red);
}
.main-cards .card:nth-child(4) {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--orange);
    box-shadow: 0 0 15px var(--orange);
}
.main-cards .last {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--blue);
    box-shadow: 0 0 15px var(--blue);
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    align-self: center;
} 

/* End Main Cards */
/* Start Card Content  */

.img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.img img {
    width: 45px;
    height: 45px;
    transform: translate(5px, -5px);
}
.card h3 {
    align-self: flex-start;
    justify-self: flex-start;
    color: var(--header-color);
    font-weight: 600;
    display: inline-block;
}
.card p {
    transform: translateY(-10px);
    display: flex;
    text-align: left;
    color: var(--text-color);
    font-weight: 200;
    min-width: 150px;
    max-width: 290px;
}
/* End Card Content  */
/* Start Responsive */
@media (min-width: 200px) and (max-width: 450px) {
    body {
        font-size: 10px;
    }
    .landing-page {
        height: 100%;
        width: 100%;
    }
    .landing-page .intro-text {
        max-width: 200px;
    }
    .main-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 210px);
        gap: 0 0;
        justify-content: center;
    }
    .main-cards .card:first-child {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        align-self: flex-start;
    }
    .main-cards .card:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        align-self: flex-start;
    }
    .main-cards .card:nth-child(4) {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
    .main-cards .last {
        grid-row: 4 / 4;
        grid-column: 1 / 3;
        align-self: flex-start;
    }
}
/* End Responsive */